# this task is already executed on a local envirenment

In [19]:
import pandas as pd

In [21]:
df_P=pd.read_csv('dataset_resized.csv')
df_P

                         image_path             label
0          resized_images\img_0.jpg  Pomegranate_Good
1          resized_images\img_1.jpg  Pomegranate_Good
2          resized_images\img_2.jpg  Pomegranate_Good
3          resized_images\img_3.jpg  Pomegranate_Good
4          resized_images\img_4.jpg  Pomegranate_Good
...                             ...               ...
14781  resized_images\img_14781.jpg   Pomegranate_Bad
14782  resized_images\img_14782.jpg   Pomegranate_Bad
14783  resized_images\img_14783.jpg   Pomegranate_Bad
14784  resized_images\img_14784.jpg   Pomegranate_Bad
14785  resized_images\img_14785.jpg   Pomegranate_Bad

[14786 rows x 2 columns]

In [23]:
print(df_P['label'].value_counts())

label
Banana_Bad          1372
Lime_Bad            1363
Pomegranate_Bad     1312
Orange_Bad          1284
Guava_Bad           1277
Apple_Bad           1254
Orange_Good         1216
Pomegranate_Good    1200
Guava_Good          1152
Apple_Good          1149
Banana_Good         1113
Lime_Good           1094
Name: count, dtype: int64

In [25]:
df_P = df_P.drop_duplicates(subset='image_path')
df_P

                         image_path             label
0          resized_images\img_0.jpg  Pomegranate_Good
1          resized_images\img_1.jpg  Pomegranate_Good
2          resized_images\img_2.jpg  Pomegranate_Good
3          resized_images\img_3.jpg  Pomegranate_Good
4          resized_images\img_4.jpg  Pomegranate_Good
...                             ...               ...
14781  resized_images\img_14781.jpg   Pomegranate_Bad
14782  resized_images\img_14782.jpg   Pomegranate_Bad
14783  resized_images\img_14783.jpg   Pomegranate_Bad
14784  resized_images\img_14784.jpg   Pomegranate_Bad
14785  resized_images\img_14785.jpg   Pomegranate_Bad

[14786 rows x 2 columns]

## ENCODAGE

In [30]:
from sklearn.preprocessing import LabelEncoder

In [32]:
le = LabelEncoder()
df_P['label_encoded'] = le.fit_transform(df_P['label'])

# Sauvegarde du DataFrame pour le ML engineer
df_P.to_csv('dataset_preprocessed.csv', index=False)

print("✅ DataFrame prêt et sauvegardé pour le ML engineer")
print(df_P['label_encoded'])

✅ DataFrame prêt et sauvegardé pour le ML engineer
0        11
1        11
2        11
3        11
4        11
         ..
14781    10
14782    10
14783    10
14784    10
14785    10
Name: label_encoded, Length: 14786, dtype: int32

In [34]:
df_P['label'].value_counts()

label
Banana_Bad          1372
Lime_Bad            1363
Pomegranate_Bad     1312
Orange_Bad          1284
Guava_Bad           1277
Apple_Bad           1254
Orange_Good         1216
Pomegranate_Good    1200
Guava_Good          1152
Apple_Good          1149
Banana_Good         1113
Lime_Good           1094
Name: count, dtype: int64

In [36]:
le.classes_

array(['Apple_Bad', 'Apple_Good', 'Banana_Bad', 'Banana_Good',
       'Guava_Bad', 'Guava_Good', 'Lime_Bad', 'Lime_Good', 'Orange_Bad',
       'Orange_Good', 'Pomegranate_Bad', 'Pomegranate_Good'], dtype=object)

In [38]:
df_P

                         image_path             label  label_encoded
0          resized_images\img_0.jpg  Pomegranate_Good             11
1          resized_images\img_1.jpg  Pomegranate_Good             11
2          resized_images\img_2.jpg  Pomegranate_Good             11
3          resized_images\img_3.jpg  Pomegranate_Good             11
4          resized_images\img_4.jpg  Pomegranate_Good             11
...                             ...               ...            ...
14781  resized_images\img_14781.jpg   Pomegranate_Bad             10
14782  resized_images\img_14782.jpg   Pomegranate_Bad             10
14783  resized_images\img_14783.jpg   Pomegranate_Bad             10
14784  resized_images\img_14784.jpg   Pomegranate_Bad             10
14785  resized_images\img_14785.jpg   Pomegranate_Bad             10

[14786 rows x 3 columns]